body{
font-family: 'Montserrat', sans-serif;
background-color: #4e12da;
}

img{
    max-width: 100%;
    max-height: 100%;
    display: block; /* remove extra space below image */
}

.Logo{
    height: 40px;
    width: auto;
}

.nav-list{
    background-color: #4e12da;
    box-shadow: 15px 15px 10px var(#bb86fc);
    margin:0;
    padding:1rem 0;
    border-radius: 0px;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    
}

.nav-item{
    list-style:none;
    margin-right:2rem;
}

.nav-item a {
    text-decoration: none;
    color: black;
    transition:all 200ms ease-in;
}

.nav-item a:hover{
    color: white
}

.nav-item:first-child{
    margin-right: auto;
    margin-left:1rem;
}

.Wave{
    color:white;
    background-color: #151515;
    text-align: center;
}

.Wave h1 {
    font-size: 2.7rem;
    text-align: center;
    margin-top:0;
}

.Wave p {
    font-size: 1rem;
    margin: 0 5rem 0 5rem;
}

.Wave svg {
    display: block;
}

.UpsideWave{
    background: #151515
}

.UpsideWave svg {
    display: block
}

.MainText h1 {
    font-size: 2.7rem;
    text-align: center;
    margin-top:0;
}

.MainText p {
    font-size: 1rem;
    margin: 0 5rem 0 5rem;
    text-align: center
}

.MainText{
    color:white;
    background-color: #151515;
    text-align: center;
}

.BasicInfo{
    color:white;
    text-align: left;

}

.WhyUse h1{
    font-size: 1,5rem;
    margin: 5rem 24rem 0 14px;
}

.WhyUse p{
    font-size: 1rem;
    margin: 20px 1rem 0 16px;
}

.FAQ h1{
    font-size: 2.8rem;
    text-align: center;
    color: white
}