hmtl{
    scroll-behavior: smooth;
}

body{
font-family: 'Montserrat', sans-serif;
background-color: #4e12da;
margin: 0;
padding: 0;
}

::-webkit-scrollbar{
    width: 15px;

}

::-webkit-scrollbar-thumb{
    background-color: #3904b4;
    border-radius: 23px;
}



img{
    max-width: 100%;
    max-height: 100%;
    display: block; /* remove extra space below image */
}

.Logo{
    height: 100px;
    width: auto;
    align-items: center;
}

.nav-list{
    background-color: #4e12da;
    box-shadow: 15px 15px 10px var(#bb86fc);
    margin:0;
    padding:1rem 0;
    border-radius: 0px;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    
}

.nav-item{
    list-style:none;
    margin-right:2rem;
}

.nav-item a {
    text-decoration: none;
    color: black;
    transition:all 200ms ease-in;
}

.nav-item a:hover{
    color: white
}

.nav-item:first-child{
    margin-right: auto;
    margin-left: 4rem;
}

.UseButton a {
    text-decoration: none;
    color: white;
    transition: all 250ms ease-in;
}

.UseButton a:hover{
    color: black
}

.UseButton{
    background-color: #4e12da;
    box-shadow: 15px 15px 10px var(#bb86fc);
    margin:0;
    padding:1rem 0;
    border-radius: 20px;
    max-width: 1024px;
    width: 20%;
    margin: auto;
    align-self: center;
    align-items: center;
    text-align: center;
}

.UseButton h1 {
    font-size: 2.7rem;
    text-align: center;
    margin-top:0;
}

.Wave{
    color:white;
    background-color: #151515;
    text-align: center;
}

.Wave h1 {
    font-size: 2.7rem;
    text-align: center;
    margin-top:0;
}

.Wave p {
    font-size: 1rem;
    margin: 0 5rem 0 5rem;
}

.Wave svg {
    display: block;
}

.UpsideWave{
    background: #151515
}

.UpsideWave svg {
    display: block
}

.MainText h1 {
    font-size: 2.7rem;
    text-align: center;
    margin-top:0;
}

.MainText p {
    font-size: 1rem;
    margin: 0 5rem 25px 5rem;
    text-align: center
}

.MainText{
    color:white;
    background-color: #151515;
    text-align: center;
}

.BasicInfo{
    color:white;
    text-align: left;
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

.WhyUse h1{
    font-size: 1.3rem;
    margin: 5rem 24rem 0 14px;
}

.WhyUse p{
    font-size: 1rem;
    margin: 20px 1rem 0 16px;
}

.FAQ h2{
    font-size: 1.8rem;
    text-align: center;
    color: white
}

.WhyUse a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: inherit;
    color: #200152;
    transition:all 200ms ease-in;
}

.footer{
    background-color: #151515;
    height: auto;
    width: 1585px;
    padding-top: 40px;
    color: #fff;
}

.socials{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}

.footer h3{
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.footer a{
    text-decoration: none;
    color: #b78bff;
}
